---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=john%40example.com&source=tok_1AXY7iLtUmfCvvw0IaDMVsvw
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AtKn7YEUywNged",
          "object": "customer",
          "account_balance": 0,
          "created": 1498148740,
          "currency": null,
          "default_source": "card_1AXY7iLtUmfCvvw0eaPLdWT2",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AXY7iLtUmfCvvw0eaPLdWT2",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "90210",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AtKn7YEUywNged",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2020,
                "fingerprint": "SzhLE0ATgPling4i",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AtKn7YEUywNged/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AtKn7YEUywNged/subscriptions"
          }
        }
  recorded_at: Thu, 22 Jun 2017 16:25:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_AtKn7YEUywNged&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_AtKni7oZGgk7YD",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1498148741,
          "current_period_end": 1500740741,
          "current_period_start": 1498148741,
          "customer": "cus_AtKn7YEUywNged",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1AXY7lLtUmfCvvw0uMr2qHfy",
                "object": "subscription_item",
                "created": 1498148742,
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 999,
                  "created": 1497809378,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Basic Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_AtKni7oZGgk7YD"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic",
            "object": "plan",
            "amount": 999,
            "created": 1497809378,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Basic Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1498148741,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Thu, 22 Jun 2017 16:25:42 GMT
recorded_with: VCR 3.0.3
