---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40gmail.com&source=tok_1AXY8TLtUmfCvvw0WmI5dvRp
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Thu, 22 Jun 2017 16:26:27 GMT
recorded_with: VCR 3.0.3
