---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19wEmuEI3UfzsZ2pSvJwmVGA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_19wEmuEI3UfzsZ2pSvJwmVGA",
            "param": "id"
          }
        }
  recorded_at: Sun, 18 Jun 2017 21:54:51 GMT
recorded_with: VCR 3.0.3
