---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1AW947LtUmfCvvw0wewg7OdV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1AW947LtUmfCvvw0wewg7OdV",
          "object": "event",
          "api_version": "2017-06-05",
          "created": 1497814087,
          "data": {
            "object": {
              "id": "ch_1AW947LtUmfCvvw0prHhKvBh",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1AW947LtUmfCvvw0KSDpFDmQ",
              "captured": true,
              "created": 1497814087,
              "currency": "usd",
              "customer": "cus_ArspDj2GhJrNZ6",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1AW947LtUmfCvvw0tf78ymil",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1AW947LtUmfCvvw0prHhKvBh/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1AW945LtUmfCvvw0adfyI6jn",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "21321",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_ArspDj2GhJrNZ6",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2024,
                "fingerprint": "SzhLE0ATgPling4i",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": {
            "id": "req_ArspZkVh9mVvgc",
            "idempotency_key": null
          },
          "type": "charge.succeeded"
        }
  recorded_at: Mon, 19 Jun 2017 20:15:54 GMT
recorded_with: VCR 3.0.3
