---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AWWHhLtUmfCvvw0rBrrawq7",
          "object": "token",
          "card": {
            "id": "card_1AWWHhLtUmfCvvw0rvXYuEIK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "SzhLE0ATgPling4i",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "185.65.135.91",
          "created": 1497903341,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 19 Jun 2017 20:15:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test_email&source=tok_1AWWHhLtUmfCvvw0rBrrawq7
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AsGpyTyI4moRVN",
          "object": "customer",
          "account_balance": 0,
          "created": 1497903343,
          "currency": null,
          "default_source": "card_1AWWHhLtUmfCvvw0rvXYuEIK",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test_email",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AWWHhLtUmfCvvw0rvXYuEIK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AsGpyTyI4moRVN",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "SzhLE0ATgPling4i",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AsGpyTyI4moRVN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AsGpyTyI4moRVN/subscriptions"
          }
        }
  recorded_at: Mon, 19 Jun 2017 20:15:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=test+charge&customer=cus_AsGpyTyI4moRVN
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1AWWHlLtUmfCvvw0ij2ilYjP",
          "object": "charge",
          "amount": 300,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1AWWHlLtUmfCvvw0fvx7Z5mo",
          "captured": true,
          "created": 1497903345,
          "currency": "usd",
          "customer": "cus_AsGpyTyI4moRVN",
          "description": "test charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1AWWHlLtUmfCvvw0ij2ilYjP/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1AWWHhLtUmfCvvw0rvXYuEIK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_AsGpyTyI4moRVN",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "SzhLE0ATgPling4i",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Mon, 19 Jun 2017 20:15:45 GMT
recorded_with: VCR 3.0.3
