---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AWWHULtUmfCvvw0f5vXT405",
          "object": "token",
          "card": {
            "id": "card_1AWWHULtUmfCvvw0IpfXVzNH",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "SzhLE0ATgPling4i",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "185.65.135.91",
          "created": 1497903328,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 19 Jun 2017 20:15:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=ashton.stoltenberg%40lindgrenwelch.name
    headers:
      Authorization:
      - Bearer sk_test_EP6KmQMbZiQ2akIbzKW7aG72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AsGp3WjsWsrJ9H",
          "object": "customer",
          "account_balance": 0,
          "created": 1497903329,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ashton.stoltenberg@lindgrenwelch.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AsGp3WjsWsrJ9H/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AsGp3WjsWsrJ9H/subscriptions"
          }
        }
  recorded_at: Mon, 19 Jun 2017 20:15:30 GMT
recorded_with: VCR 3.0.3
